@{
    ViewData["Title"] = "Confirm email";
}

<div class="container content-md" style="width:35%;margin:auto">
    <!--=== End Illustration v1 ===-->
    <div class="heading heading-v1 margin-bottom-20">
        <h2> Thank you for confirming your email.  <a href="@Url.Action("Login","User")" style="color:#638C9C">Click Here To Login</a></h2>
    </div>
</div>