@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container content-md" style="width:35%;margin:auto">
    <!--=== End Illustration v1 ===-->
    <div class="heading heading-v1 margin-bottom-20">
        <h2>Please check your email to reset your password.</h2>
    </div>
</div>

