@model TravelSystem.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="log-reg-v3 content-md">
    <div class="container">
        <div class="row">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">Welcome to EZ Bus Loan</h2>
                <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>

                <div class="info-block-v2">
                    <i class="icon icon-settings"></i>
                    <div class="info-block-in">
                        <h3>Curabitur tincidunt</h3>
                        <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form action="/User/ForgotPassword" method="post" id="sky-form1" class="log-reg-block sky-form">
                    <h2>Enter Your Email to Recover</h2>
                    <section>
                        <div class="input login-input">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(o => o.Email, new { type = "email", @class = "form-control", @placeholder = "Email",@required="required" })
                            </div>
                        </div>
                    </section>
                    <div class="row margin-bottom-5">
                    </div>
                    <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Recover</button>

                </form>
                <div class="margin-bottom-20"></div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
