@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="container content-md" style="width:35%;margin:auto">
    <!--=== End Illustration v1 ===-->
    <div class="heading heading-v1 margin-bottom-20">
        <h2>  Your password has been reset. Please <a href="@Url.Action("Login","User")" style="color:#638C9C">click here to log in</a>.</h2>
    </div>
</div>
