@model TravelSystem.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="log-reg-v3 content-md">
    <div class="container">
        <div class="row">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">Welcome to EZ Bus Loan</h2>
                <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>

                <div class="info-block-v2">
                    <i class="icon icon-settings"></i>
                    <div class="info-block-in">
                        <h3>Curabitur tincidunt</h3>
                        <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="sky-form1" class="log-reg-block sky-form" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <h2>Reset Your Password
                    </h2>
                    <section>
                        <div class="input login-input">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input asp-for="Email" class="form-control" placeholder="Email"/>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="input login-input no-border-top">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input asp-for="Password" class="form-control"  placeholder="Password"/>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="input login-input no-border-top">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <input asp-for="Code" type="hidden"  />
                            </div>
                        </div>
                    </section>
                    <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Reset</button>

                </form>
                <div class="margin-bottom-20"></div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
