
<h1>Dashboard</h1>
<div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="@Url.Action("PendingApplications","Lendor")">Pending Applications</a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("ProfileSettings","User")">Profile Settings</a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("ChangePassword","User")">Change Password</a>
</div>