 <!--=== Style Switcher ===-->
<i class="style-switcher-btn fa fa-calculator hidden-xs"></i>
<div class="style-switcher animated fadeInRight">
    <div class="style-swticher-header">
        <div class="style-switcher-heading">Loan Calculator</div>
        <div class="theme-close"><i class="icon-close"></i></div>
    </div>
    <div class="style-swticher-body">
        <!-- Theme Colors -->
        <!-- MORTGAGE LOAN CALCULATOR BEGIN -->
        <script type="text/javascript">
                mlcalc_default_calculator = 'loan_only';
                mlcalc_currency_code = 'usd';
                mlcalc_amortization = 'year_nc';
                mlcalc_purchase_price = '300,000';
                mlcalc_down_payment = '20';
                mlcalc_mortgage_term = '30';
                mlcalc_interest_rate = '4';
                mlcalc_property_tax = '3,000';
                mlcalc_property_insurance = '1,500';
                mlcalc_pmi = '0.52';
                mlcalc_loan_amount = '250,000';
                mlcalc_loan_term = '15';
        </script>
        <script type="text/javascript">if (typeof jQuery === "undefined") { document.write(unescape("%3Cscript src='/assets/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E")); mlcalc_jquery_noconflict = 1; };</script><div style="font-weight:normal;font-size:9px;font-family:Tahoma;padding:0;margin:0;border:0;text-align:center;background:transparent;color:#EEEEEE;width:300px;text-align:right;padding-right:10px;" id="mlcalcWidgetHolder">
            <script type="text/javascript">document.write(unescape("%3Cscript src='/assets/js/widget-wide.js' type='text/javascript'%3E%3C/script%3E"));</script><a href="https://www.mlcalc.com/" style="font-weight:normal;font-size:9px;font-family:Tahoma;color:#EEEEEE;text-decoration:none;">www.mlcalc.com</a>
        </div>
        <!-- MORTGAGE LOAN CALCULATOR END -->

        <hr>

    </div>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->