@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Seller";
}

<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <partial name="~/Views/Shared/_PartialSellerMenu.cshtml" />
        </div>
        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2>Welcome</h2>

                </div>
                <div class="col-sm-8">

                </div>
            </div><!--/end result category-->
            <div class="filter-results" id="inventory">

            </div><!--/end filter resilts-->

        </div>
    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->
