
@model TravelSystem.Models.TermsAndConditions
@{
    ViewData["Title"] = "Add Terms And Conditions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <section class="content">
        <form method="post" action="@Url.Action("SaveTermsAndConditions","Admin")">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <button type="submit" class="btn btn-success float-right" id="btnSave">Save</button>
                            <button type="button" class="btn btn-danger float-right mr-1" id="btnBack" title="Back">Back</button>

                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.HiddenFor(m => m.Id)
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id="editor" name="Description" rows="10" cols="30" style="height:440px" aria-label="editor">
@if(Model!=null){
@Html.Raw(Model.Description)
}
    </textarea>
                                        <script>
                                            $(document).ready(function () {
                                                // create Editor from textarea HTML element with default set of tools
                                                $("#editor").kendoEditor({
                                                    encoded: false,
                                                    resizable: {
                                                        content: true,
                                                        toolbar: true
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
        <script>
    $(document).ready(function () {
        $("#btnBack").click(function () {
            window.location.href = "@Url.Action("Dashboard","Admin")";
        });
    });
        </script>
